*{
  padding:0;
  margin: 0;
}
/************************BARRA NAV***********************/
.padreNav{
  height: 80px;
  background-color: #66b099 ; 
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 50px 0px 100px;
}
.padreNav .logo a img{
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
}
.padreNav ul{
  display: flex;
  list-style: none;
  padding: 10px 0 0 0;
}
.padreNav ul li{
  margin:0 5px;
}
.padreNav ul li a{
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-family: 'Libre Baskerville', serif;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 8px 10px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.padreNav ul li a:hover,
.padreNav ul li a.active{
  color: white;
  background: #1f1f1f;
}
.padreNav ul li:hover{
  -webkit-transform: scale(0.8);  
  -ms-transform: scale(0.8); 
  transform: scale(0.8);
  transition: all 0.3 ease;
}
.padreNav .menu-btn i{
  color: #1f1f1f;
  font-size: 22px;
  cursor: pointer;
  display: none;
}
#click{
  display: none;
}
.logo:hover{
  -webkit-transform: scale(0.8);  
  -ms-transform: scale(0.8); 
  transform: scale(0.8);
  transition: all 0.3s ease;
}
/*SLIDER EN BACKGROUND*************/
.load{
  animation: slide 2s;
}
.slider{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  animation: slide 20s infinite;
}
.content{
  font-family: 'Libre Baskerville', serif;
  color: #fff;
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5);
}
.principal{
  font-weight: lighter;
  left: 75vh;
  top: 50%;
  transition: translate(-50%,-50%);
  position: absolute;
  letter-spacing: 5px;
  text-align: center;
}
.principal h1{
  font-size: 70px;
  margin-bottom: 20px;
}
.principal p{
  font-size: 20px;
}
@keyframes slide{
  0%{
     background-image: url(media/slide1.jpg);
  }
  20%{
    background-image: url(media/slide1.jpg);
  }
  20.01%{
    background-image: url(media/slide2.jpg);
 }
 40%{
   background-image: url(media/slide2.jpg);
 }
 40.01%{
  background-image: url(media/slide3.jpg);
  }
  60%{
  background-image: url(media/slide3.jpg);
  }
  60.01%{
    background-image: url(media/slide4.jpg);
  }
  80%{
  background-image: url(media/slide4.jpg);
  }
  80.01%{
    background-image: url(media/slide5.jpg);
  }
  100%{
  background-image: url(media/slide5.jpg);
  }
}
/*SEPARADOR CAKE*****************************************************************/
.divisorColor{
  background-color: #e3fff7;
}
.h-divider {
  margin: auto;
  margin-top: 60px;
  width: 80%;
  position: relative;
}
.h-divider .shadow {
  overflow: hidden;
  height: 20px;
}
.h-divider .shadow:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px/12px;
  box-shadow: 0 0 8px black;
}
.h-divider .text2 {
  width: 70px;
  height: 70px;
  position: absolute;
  bottom: 100%;
  margin-bottom: -35px;
  left: 50%;
  margin-left: -25px;
  border-radius: 100%;
  box-shadow: 0 2px 4px #999;
  background: #f0fffb;
}
.h-divider img {
  position: absolute;
  margin: 4px;
  max-width: 60px;
  border-radius: 100%;
  border: 1px dashed #aaa;
}
/*FONDO MIGAS *********************************************************************/
main {
    background-image: url(media/fondomigas.png);
    width: 100%;
    height: 900px;
}
.servicios {
  font-weight:50px;
  display: grid; 
  grid-template-columns: 1fr 1fr; 
  grid-gap: 35px; 
  padding-bottom: 90px;
  padding-top: 100px;
  height: 900px;
}
.servicios-textos p {
  font-family: 'Quicksand', sans-serif;
  text-shadow: 0.5px 0.5px 0.5px black;
  font-size: 22px;
  font-weight: 500;
  text-align: left;
  padding-bottom: 10px;
}
.servicios-textos h2 {
  font-family: 'Libre Baskerville', serif;
  padding-bottom: 10px;
  color: #000;
  text-align: center;
  font-weight: lighter;
  -webkit-transition: 0.5s all ease;
  -moz-transition: 0.5s all ease;
  -o-transition: 0.5s all ease;
  transition: 0.5s all ease;
}
.servicios-img {
  overflow: hidden;
  width: 400px;
  height: 740px;}
.servicios-img img {
  max-width: 100%; 
  object-fit: cover;}
.servicios-container {
  background-color: #313C48;
  padding-bottom: 90px; 
  padding-top: 90px; 
  margin-bottom: 90px;
}
.servicios-tipos {
  margin: auto; 
  display: grid; 
  grid-template-columns: 1fr 1fr 1fr 1fr; 
  grid-gap: 45px;
}
.servicios-tipos-columnas {
  display: grid; 
  grid-template-rows: auto auto auto; 
  grid-template-columns: 1fr;
}
.servicios-tipos-columnas img {
  width: 60px; 
  padding-bottom: 15px;
}

.servicios-textos h2:hover{
  color: #fff;
    text-shadow: 0 0 100px #666,                
    0 0 10px #666,                
    0 0 10px #666,               
    0 0 50px #000;
}
/*FORMULARIO**********************************************************/
.formulario {
  background: url(media/form1.jpg) no-repeat center;
  background-size: cover;
  padding: 40px; }

.formulario h1 {
  text-align: center;
  color: #FFFFFF; }

.formulario__linea {
  width: 100px;
  height: 10px;
  background: #66b099;
  margin: 10px auto; }

.formulario__contacto {
  max-width: 600px;
  margin: auto;
  padding: 0 10px;
  overflow: hidden; }

.formulario__etiquetas {
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 16px 0;
  border: 0;
  background-color: #2F2536;
  padding: 20px 40px;
  outline: none;
  color: white;
  transition: .4s; }

.formulario__etiquetas:focus {
  box-shadow: 0 0 10px 4px white; }

textarea.formulario__etiquetas {
  resize: none;
  height: 120px; }

.formulario__boton {
  float: right;
  border: 0;
  background: #66b099;
  color: black;
  padding: 12px 50px;
  border-radius: 3px;
  cursor: pointer;
  transition: .5s; }

.formulario__boton:hover {
  background: #234a3e;
  color: white; }
/**************GRID*********************************************************/

.containergrid__itemsHref{
  background: #f7f7f7;
	display: grid;
	padding: 100px 100px 100px 100px;
	grid-template-columns: repeat(4,1fr);
	grid-column-gap: 10px;
}

.containergrid__itemsHref .grid__itemsHref {
	padding: 1em;

}
.containergrid__itemsHref .grid__itemsHref:hover {
  opacity: 0.5;
}


background: rgb(102,176,153);
background: linear-gradient(0deg, rgba(102,176,153,1) 0%, rgba(255,255,255,1) 100%);































































/***************************MEDIA********************************************************/

@media (max-width: 940px){
  .padreNav .menu-btn i{
    display: block;
  }
  #click:checked ~ .menu-btn i:before{
    content: "\f00d";
  }
  .padreNav img{
    display: flex;
    justify-content: center;
   }
  .padreNav ul{
    position: fixed ;
    top: 80px;
    left: -100%;
    background: #1f1f1f;;
    height: 100vh;
    width: 100%;
    display: block;
    text-align:center;
    transition: all 0.3s ease
  }
  #click:checked ~ ul{
    left: 0%;
  }
  .padreNav ul li{
    margin: 40px o;
  }
  .padreNav ul li a{
     font-size: 20px;
     display: block;
  }
  .padreNav ul li a:hover,
  .padreNav ul li a.active{
  color:#33a396;
  background: none;
  }
}

@media (max-width: 575.98px) {
	.servicios {display: grid; grid-template-columns: 1fr; grid-gap: 0px; padding-bottom: 0px;}
	.servicios-textos h2 {text-align: center; padding-left: 20px; padding-right: 20px; padding-top: 50px; }
	.servicios-textos p {text-align: center; padding-bottom: 50px; padding-left: 20px; padding-right: 20px;}
	.servicios-tipos {max-width: 300px; margin: auto; display: grid; grid-template-columns: 1fr; grid-gap: 50px;}
	.servicios-textos button {display: none;}

	.servicios-container {margin-bottom: 0px; padding-bottom: 50px; padding-top: 50px;}
	.servicios-tipos-columnas {text-align: left; justify-items: center;}

	.servicios-img {overflow: hidden; width: 100vw; height: auto;}
	.servicios-img img {max-width: 100%; object-fit: cover;}
}